<div class="container">
  <div class="row">
    <div class="col">
       <div class="d-flex justify-content-center mb-4 text-white">
         <h1 class="display-1">About</h1>
       </div>
        <div class="col mb-5 text-white" style="background-color: #343a40; opacity: 0.8;">
          <h4 class="text-center">SubComへようこそ。<br/>
          SubComとは、様々なジャンルのサブスクリプションサービスのレビューサイトです。<br/>
          新しいサブスクに加入したい、もしくは今使っているサブスクの変更を検討している、<br/>
          そんな方は是非このSubComを使って使って見て下さい。最短であなたにピッタリのサ〜ビスが見つかります。<br/>
          </h4>
        </div>
    </div>
  </div>
</div>