<header>
  <h1>Subcomー</h1>
  <h2>「最短であなたにあったサブスクリプションを」</h2>
</header>

<body>
  <div class="container container-m">
    <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">音楽</h4>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">映画</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">学習</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="w-100"></div></br>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">本・雑誌・漫画</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">洋服・ファッション</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">その他</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
   </div>
  </div>
</body></br>

<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a class="btn btn-xl index-button" href="/subscriptions">サブスクリプションを探す</a>
      </div>
      </div>
    </div>
  </div>
</section>
