<div class="container">
 <div class="row">
  <div class="col m-3">
    <h2>会員一覧</h2><br>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th scope="col" class="text-center">会員ID</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col" class="text-center">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <th scope="low" class="text-center"><%= user.id %></th>
          <th scope="low"><%= link_to user.user_name, owner_user_path(user) %></th>
          <th scope="low"><%= user.email %></th>
    	     <% if user.is_deleted? == true %>
    	       <td class="text-danger text-center">退会</td>
				   <% else %>
				     <td class="text-success text-center">有効</td>
				   <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 </div>
</div>