/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// application.html
.navbar{
  min-height: 40px;
}

.navbar-brand{
  min-height: 50px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

header{
  font-family:'Economica', sans-serif;
  font-size: 20px;
  background-color: #f8f9fa;
}

footer{
  font-family:"Economica"	,sans-selif;
  font-size: 20px;
  color: #4d4d4d;
  height: 60px;
  background-color: #f8f9fa;
}
//

// 全体に適用
body{
  font-family:'Economica', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  background-size: cover;
  height: 100%;
}
//

.Editlink{
  font-size: 19px;
  font-weight: bold;
  text-decoration: underline solid  black;    
  color: #000000;
}

// トップ画面

.main{
}

.card-body{
  background-color:  #b3b3b3;
}
.card-img-top img{
  width: 100%;
  height: 130px;
}
//

// アバウト画面
.display-1{
  color: #4d4d4d;
}

.card-about{
  width: 470px;
  background-color:  #b3b3b3;
}

.card-text-about{
  font-size: 13px;
}
//

// table
.table{
  background-color:  #b3b3b3;
}
//

// 星の変更箇所
#rate img{
  width: 28px;
}

.star-size20 img{
  width: 20px;
}
// 

// 問い合わせフォーム
.form-group-inquiry{
  background-color:  #b3b3b3;
}
// 